
/*Se você definir box-sizing: border-box;um elemento, o preenchimento e a borda serão incluídos na largura e na altura:*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/*font-family altera a fonte
 line-height Defina a altura da linha
 color altera a cor da fonte
 background-color altera o fundo
 padding espaçamento entre o elemento e a borda*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color: #545454;
    background-color: white;
    padding: 5px;
}

/*Explicar a diferença entre as tags main article e section*/
main{
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 20px;
    box-shadow: rgba (0,0,0,0.1);
    border-radius: 5px;
}

/*Explique cada propriedade com comentários, destacando a função do gradiente, do flex e do gap*/
#main-header{
    background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: ;
    padding: ;
    display:flex;
    align-items: ;
    gap: ;
}

/*comentar cada propriedade*/
#main-header > h1{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 600px;
}


/*Explicar cada propriedade*/
img{
    border-radius: 20px;
    border: 7px solid #8670cf;
}

address > p{
    font-style: normal;
    margin-bottom: 10px;
    font-size: 30px;
}

article{
    padding: 100px;
}

h2{
    font-size: 20px;
    color:#545454;
    margin-bottom: 20px ;
    text-align: left;
    font-weight: bold;
}


/*Explicar a diferença entre o seletor descedente e o seletor de filho direto*/
ol li {
    list-style: none;
    counter-increment: ;
    margin-bottom:30;
    position: static;
    padding: 0px;
    background-color:;
    border-radius: ;
    border-left: ;

}

div{
   background-color:rgb(247, 244, 244);
    border-radius: 15px;
}

ol li ::before{
    content:normal ;
    position:fixed ;
    left: auto ;
    top: auto;
    background: red;
    color: pink ;
    width: ;
    height: ;
    border-radius: 15px ;
    display:block;
    align-items: center;
    justify-content: center ;
    font-weight:200 ;
    font-size: medium;

}

section{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgray;
}

a{
    color:#667eea;
    text-decoration:none ;
    border-bottom: ;
}

a:hover{
    color: orangered;
    border-bottom-style:dashed;
}

.titulo-formacao:hover{
    color: palevioletred;
    transform: scale(1.05);
    text-shadow: ;
}